/******************************/
/************ COLOR ***********/
/******************************/

$color-white: rgba(255, 255, 255, 1);
$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-white-shadow: rgba(255, 255, 255, 0.125);

$color-black: rgba(20, 20, 20, 1);
$color-black-transparent: rgba(20, 20, 20, 0.75);
$color-black-shadow: rgba(20, 20, 20, 0.125);

/******************************/
/********* FONT-WEIGHT ********/
/******************************/

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

/******************************/
/*********** SPACING **********/
/******************************/

$spacing-bullet: 5px;
$spacing-button: 45px;
$spacing-header: 150px;
$spacing-picture: 250px;
$spacing-wrapper: 600px;
$spacing-scrollbar: 5px;
$spacing-loader: 75px;

/******************************/
/************ MEDIA ***********/
/******************************/

$media-xs: 400px;
$media-s: 600px;
$media-m: 900px;
$media-l: 1200px;
$media-xl: 2000px;

/******************************/
/********* TRANSITION *********/
/******************************/

$transition-s: 0.25s;
$transition-m: 0.5s;
$transition-l: 1s;
$transition-xl: 2s;

/******************************/
/******** BORDER WIDTH ********/
/******************************/

$border-circle: 2.5px;
$border-underline: 1.5px;
