@use '../../@styles/variables.scss' as *;

.gallery {
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: radial-gradient(white, black);
    border-radius: 5px;

    .galleryDrag {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 200;
    }

    .galleryClick {
        pointer-events: none;
        position: absolute;
        z-index: 300;
        height: 100%;
        width: 100%;

        .galleryLeft,
        .galleryRight {
            position: absolute;
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            transition: transform $transition-m ease;
            transform: scale(0);

            img,
            video {
                cursor: pointer;
                pointer-events: all;
                border-radius: 50%;
                width: 30px;
                box-shadow: 0 0 20px 0px $color-black-shadow;
                transition: transform $transition-m ease;
                transform: scale(1);

                @media (hover: hover) {
                    &:hover {
                        transform: scale(1.25);
                    }
                }
            }
        }

        .galleryLeft {
            left: 40px;
        }

        .galleryRight {
            right: 40px;
        }
    }

    .galleryBullets {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 100;
        width: 100%;
        bottom: 25px;

        div {
            display: none;
            border-radius: 50%;
            height: $spacing-bullet;
            width: $spacing-bullet;
            box-shadow: 0 0 20px 0px $color-black-shadow;
            background-color: $color-white-transparent;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &.current {
                background-color: $color-white;
            }

            &.show {
                display: block;
            }
        }
    }

    .galleryImages {
        img,
        video {
            position: absolute;
            top: 0;
            display: none;
            width: 100%;

            &.show {
                display: block;
            }
        }
    }

    .galleryPlaceholder {
        opacity: 0;
        width: 100%;

        img,
        video {
            display: block;
            width: 100%;
        }
    }

    &.transition {
        .galleryImages img,
        .galleryImages video {
            transition:
                left $transition-m ease,
                right $transition-m ease;
        }

        .galleryBullets div {
            transition: background-color $transition-m ease;
        }
    }

    @media (hover: hover) {
        &:hover {
            .galleryClick .galleryLeft,
            .galleryClick .galleryRight {
                transform: scale(1);
            }
        }
    }

    @media (hover: none) {
        .galleryClick {
            display: none;
        }
    }
}
