@use '../../../@styles/variables.scss' as *;

.preview {
    cursor: pointer;
    display: none;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0px $color-black-shadow;

    .previewContent {
        position: relative;
        overflow: hidden;
        transition: transform $transition-s ease;
        transform: scale(1);
        border-radius: 5px;

        .previewLabel {
            box-sizing: border-box;
            pointer-events: none;
            position: absolute;
            z-index: 150;
            top: 25px;
            right: 25px;
            height: 20px;
            width: 20px;

            img {
                width: 100%;
            }
        }

        .previewDescription {
            position: absolute;
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            overflow: hidden;
            transition: background-color $transition-s ease;
            background-color: transparent;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);

            > p {
                pointer-events: none;
                text-align: center;
                color: $color-white;
                font-weight: $font-weight-regular;
                transition:
                    opacity $transition-s ease,
                    transform $transition-s ease;
                transform: scale(0.5);
                opacity: 0;
            }
        }

        .previewLink {
            position: absolute;
            z-index: 200;
            bottom: 0;
            left: 0;
            margin: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            a {
                display: block;
                height: 35px;
                width: 35px;
                opacity: 0;
                transition: transform $transition-s ease;
                transform: scale(0);

                img {
                    width: 100%;
                    transition: transform $transition-s ease;
                    transform: scale(1);
                    filter: invert(1);
                }
            }
        }

        .previewImage {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }

    &.white .previewContent .previewLabel {
        filter: invert(1);
    }

    &.show {
        display: block;
    }

    &.opacity {
        opacity: 0;
    }

    &.animation {
        animation-name: animation;
        animation-duration: $transition-l;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;

        @keyframes animation {
            0% {
                transform: scale(0);
                opacity: 0;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    @media (hover: hover) {
        .previewLink a img:hover {
            transform: scale(1.125);
        }

        .previewContent:hover {
            transform: scale(1.025);

            .previewDescription {
                background-color: $color-black-transparent;

                > p {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            .previewLink a {
                opacity: 1;
                transform: scale(1);
            }
        }

        &.black .previewContent:hover .previewLabel {
            transition: filter 0.25s ease;
            filter: invert(1);
        }
    }
}
