@import '../../@styles/variables.scss';

#information {
    background-color: $color-black;
    color: $color-white;

    .wrapper {
        box-sizing: border-box;
        margin: 0 auto;
        transition:
            padding $transition-s ease,
            width $transition-s ease;
        padding-top: $spacing-header;
        padding-bottom: 50px;
        width: $spacing-wrapper;

        #picture {
            box-sizing: border-box;
            margin: 0 auto;
            margin-bottom: 50px;
            width: $spacing-picture;
            transition:
                padding $transition-m ease,
                width $transition-m ease;

            img {
                border-radius: 50%;
                width: 100%;
            }
        }

        #introduction {
            margin-bottom: 50px;
        }

        #contact div {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
                margin-right: 20px;
                width: 20px;
            }

            &:first-of-type {
                margin-bottom: 20px;
            }

            &:last-of-type {
                margin-bottom: 50px;
            }
        }

        #social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            a {
                display: inline-block;
                height: 40px;
                width: 40px;
                transition: transform $transition-s ease;
                transform: scale(1);

                img {
                    width: 100%;
                }

                @media (hover: hover) {
                    &:hover {
                        transform: scale(1.25);
                    }
                }
            }
        }
    }

    @media (max-width: $media-s) {
        .wrapper {
            width: 100%;
            padding: $spacing-header 25px 50px 25px;
        }
    }

    @media (max-width: $media-xs) {
        .wrapper #picture {
            padding: 0 50px;
            width: 100%;
        }
    }
}
